<section id="contato">
  <h2>{{contatoTitle}}</h2>
  <div class="container">

    <app-social-media-dark
      imageGit="../../../assets/icons/github.png"
      linkGit="https://github.com/elizabetefabri"
      imageLinkedin="../../../assets/icons/linkedin.png"
      linkLinkedin="https://www.linkedin.com/in/elizabetefabri/"
      imageEmail="../../../assets/icons/email.png"
      linkEmail="mailto:elizabetesousafabri@hotmail.com"
      imageDownload="../../../assets/icons/download.png"
      linkDownload="https://www.canva.com/design/DAF8CCFSsVA/umHPmeeX6HpfL1jpl8lxZw/view?utm_content=DAF8CCFSsVA&utm_campaign=designshare&utm_medium=link&utm_source=editor"
    ></app-social-media-dark>

  </div>
</section>
