<div class="container__sobre">

  <app-sections-sobre
  sobreTitle="Olá, bem-vindo ao meu Portfólio!🚀"
  sobreDescription="Olá, sou Elizabete, Desenvolvedora FrontEnd Web, com formação em Sistemas para Internet. Desde 2019, venho criando soluções inovadoras e me aprofundando em tecnologias modernas como ReactJs e AngularJs para fornecer soluções web escaláveis. Comprometida em entregar código limpo e qualidade, estou pronta para novos desafios e entusiasmada em contribuir para projetos empolgantes no futuro."
  sobrePhoto="../../../assets/elizabete.jpg"
></app-sections-sobre>

<app-certificados></app-certificados>

<app-skills
titleSkills="Minha Experiência em Linguagens de Programação"
imgSkills1="../../../assets/icons/html5.png"
imgSkills2="../../../assets/icons/css.png"
imgSkills3="../../../assets/icons/js.png"
imgSkills4="../../../assets/icons/react.png"
imgSkills5="../../../assets/icons/typescript.png"
imgSkills6="../../../assets/icons/angular.png"
imgSkills7="../../../assets/icons/git.png"
imgSkills8="../../../assets/icons/php.png"
imgSkills9="../../../assets/icons/github-1.png"
imgSkills10="../../../assets/icons/wordpres.png"
></app-skills>

</div>
