<main class="main">
  <div class="header">

    <h2 class="title">
      Olá, conheça meus Projetos
    </h2>

  </div>
  <app-btn-github></app-btn-github>
  <!-- DECLARAR AQUI OS CARDS -->
  <app-card-projects
    Id="1"
    titleProjectGit="PlayStation Store"
    imageProjectGit="https://image.api.playstation.com/pr/bam-art/146/087/c2365174-0742-4f05-9dc9-210b8bed59f4.jpg?w=200"
    linkProject="https://playstation-store-desktop.vercel.app/"
    descricaoProjectGit="Projeto desenvolvido em angular, com fins em estudos."
    btnTopicGit="Angular"
    btnTopicGit1="TypeScript"
    btnTopicGit2="JavaScript"
  ></app-card-projects>
  <app-card-projects
  Id="2"
  titleProjectGit="Angular Blog"
  imageProjectGit="https://camo.githubusercontent.com/eba75662c4aaf21104aecdc0e3934b4cc1a0c6910d9df65a0873589a0abaa3b2/68747470733a2f2f6865726d65732e6469676974616c696e6e6f766174696f6e2e6f6e652f6173736574732f64696f6d652f6c6f676f2d6d696e696d697a65642e706e67"
  linkProject="https://angular-blog-gray.vercel.app/"
  descricaoProjectGit="Projeto desenvolvido em angular, com fins em estudos."
  btnTopicGit="Angular"
  btnTopicGit1="TypeScript"
  btnTopicGit2="JavaScript"
></app-card-projects>
<app-card-projects
  Id="3"
  titleProjectGit="Portfolio JavaScript"
  imageProjectGit="https://portfolio-js-fabri.vercel.app/assets/img/logo.png"
  linkProject="https://portfolio-js-fabri.vercel.app/"
  descricaoProjectGit="Projeto desenvolvido em angular, com fins em estudos."
  btnTopicGit="JavaScript"
  btnTopicGit1="HTML5"
  btnTopicGit2="CSS3"
></app-card-projects>
<app-card-projects
  Id="4"
  titleProjectGit="Trivia - Quiz"
  imageProjectGit="https://trivia-laboratoria-seven.vercel.app/assets/img/logo.png"
  linkProject="https://trivia-laboratoria-seven.vercel.app/"
  descricaoProjectGit="Projeto desenvolvido em angular, com fins em estudos."
  btnTopicGit="JavaScript"
  btnTopicGit1="HTML5"
  btnTopicGit2="CSS3"
></app-card-projects>
<app-card-projects
  Id="5"
  titleProjectGit="BuzzFeed - Quiz"
  imageProjectGit="https://buzzfeed-alpha.vercel.app/favicon.ico"
  linkProject="https://buzzfeed-alpha.vercel.app/"
  descricaoProjectGit="Projeto desenvolvido em angular, com fins em estudos."
  btnTopicGit="Angular"
  btnTopicGit1="TypeScript"
  btnTopicGit2="JavaScript"
></app-card-projects>
</main>

