<div class="container__card">
  <div>
    <div class="Card">
      <div class="styleContainer__card">
        <div class="imageContainer__card">
          <img src="{{imageProjectGit}}" alt="">
        </div>
        <div class="CardContent">
          <div class="project-title-section">
            <a [routerLink]="['/portfolio', Id]" class="project-title">{{titleProjectGit}}</a>
            <a href="{{linkProject}}" class="DemoButton">Demo</a>
          </div>
          <p>
            {{descricaoProjectGit}}
          </p>
          <div>
            <ul>
              <li>{{btnTopicGit}}</li>
              <li>{{btnTopicGit1}}</li>
              <li>{{btnTopicGit2}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
