<div class="container__skills">
  <h2>{{titleSkills}}</h2>
  <ul>
    <li>
      <a href="{{linkSkills1}}" target="_blank">
        <img  src="{{imgSkills1}}" alt="HTML5" />
      </a>
    </li>
    <li>
      <a href="{{linkSkills2}}" target="_blank">
        <img src="{{imgSkills2}}" alt="CSS3" />
      </a>
    </li>
    <li>
      <a href="{{linkSkills3}}" target="_blank">
        <img src="{{imgSkills3}}" alt="JAVASCRIPT" />
      </a>
    </li>
    <li>
      <a href="{{linkSkills4}}" target="_blank">
        <img src="{{imgSkills4}}" alt="react" />
      </a>
    </li>
    <li>
      <a href="{{linkSkills5}}" target="_blank">
        <img src="{{imgSkills5}}" alt="typescript" />
      </a>
    </li>
    <li>
      <a href="{{linkSkills6}}" target="_blank">
        <img src="{{imgSkills6}}" alt="angular" />
      </a>
    </li>
    <li>
      <a href="{{linkSkills7}}" target="_blank">
        <img src="{{imgSkills7}}" alt="git" />
      </a>
    </li>
    <li>
      <a href="{{linkSkills8}}" target="_blank">
        <img src="{{imgSkills8}}" alt="github-1" />
      </a>
    </li>
    <li>
      <a href="{{linkSkills9}}" target="_blank">
        <img src="{{imgSkills9}}" alt="php" />
      </a>
    </li>
    <li>
      <a href="{{linkSkills10}}" target="_blank">
        <img src="{{imgSkills10}}" alt="wordpres" />
      </a>
    </li>
  </ul>
</div>
