<section id="certificado">
  <h2>Meus certificados</h2>
  <p id="frase">Certificados de conclusão de cursos.</p>
  <div class="container">
    <div class="info__certificado one">
      <div>
        <h3>Diploma de Conclusão de Curso</h3>
        <p>
          <a href="../../../../assets/imgs/certificados/fatec.pdf" download="fatec.pdf">
            <img src="../../../../assets/imgs/certificados/download.png" alt="download icone" /> <strong>- Download</strong>
          </a>
        </p>
      </div>
    </div>
    <div class="info__certificado two">
      <div>
        <h3>Certificado de Conclusão do Bootcamp</h3>
        <p>
          <a href="https://app.rocketseat.com.br/certificates/ad5100a2-66b5-45f7-ab0a-d7c444eb3953" download="rocketseat.pdf">
            <img src="../../../../assets/imgs/certificados/download.png" alt="download icone" /> <strong>- Download</strong>
          </a>
        </p>
      </div>
    </div>
    <div class="info__certificado three">
      <div>
        <h3>Diploma de Conclusão de Curso</h3>
        <p>
          <a href="../../../../assets/imgs/certificados/angular-developer.pdf" download="angular-developer.pdf">
            <img src="../../../../assets/imgs/certificados/download.png" alt="download icone" /> <strong>- Download</strong>
          </a>
        </p>
      </div>
    </div>
    <div class="info__certificado four">
      <div>
        <h3>Certificado de conclusão de curso</h3>
        <p>
          <a href="https://app.rocketseat.com.br/certificates/640b2154-b05f-49c8-9731-358b2f181e8e" download="angular-developer.pdf">
            <img src="../../../../assets/imgs/certificados/download.png" alt="download icone" /> <strong>- Download</strong>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
