<main>
  <app-sections-banner
    bannerTitle="Portfólio Pessoal - Desenvolvedor(a) Web Júnior"
    bannerDescription="Bem-Vindo!"
  ></app-sections-banner>
  <app-sections-sobre
    sobreTitle="Hello, world!🚀"
    sobreDescription="Olá, esse é o meu Portfólio Pessoal, sou Dev Frontend com mais de quatro anos de experiência e uma paixão por tecnologia. Durante esse tempo, tive a oportunidade de trabalhar em diversos projetos, como a criação de sites responsivos e o desenvolvimento de APIs robustas. Um dos projetos dos quais me orgulho particularmente é Dataverse Chat, no qual desenvolvi em dupla utilizando ChatGPT. Confira:
    Busco constantemente desafios que me impulsionem profissionalmente, e mantenho-me atualizada com certificações relevantes, como LABORÁTORIA. Minha formação sólida em Sistemas para Internet me permite focar na evolução das tecnologias modernas de frontend, entregando projetos de alta qualidade. Destaco-me como uma profissional versátil e experiente, com uma habilidade especial para criar soluções inovadoras que melhoram a experiência do usuário e a eficiência técnica."
    sobrePhoto="../../../assets/elizabete.jpg"
  ></app-sections-sobre>
  <app-skills
  titleSkills="Habilidades"
  imgSkills1="../../../assets/icons/html5.png"
  imgSkills2="../../../assets/icons/css.png"
  imgSkills3="../../../assets/icons/js.png"
  imgSkills4="../../../assets/icons/react.png"
  imgSkills5="../../../assets/icons/typescript.png"
  imgSkills6="../../../assets/icons/angular.png"
  imgSkills7="../../../assets/icons/git.png"
  imgSkills8="../../../assets/icons/php.png"
  imgSkills9="../../../assets/icons/github-1.png"
  imgSkills10="../../../assets/icons/wordpres.png"
  ></app-skills>
  <app-sections-habilidades></app-sections-habilidades>
</main>
